.left{
    border: solid 1px black;
    width: 12rem;
    height: 15rem;
  }
  
  .right{
    border: solid 1px black;
    width: 12rem;
    height: 15rem;
  }
  
  .main{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center
  }
  
  .buttons{
    display:flex;
    flex-direction:column;
  }
  
  .buttons button{
    aspect-ratio: 1/1;
    width: 2rem;
  }

  .item{
    display: flex;
  }
  